ReFe_FOM_20260821.pdf
R2Fe17 Compounds.pdf
mn bimetallics.pdf
Meyer-Dysprosium-iron remarks.pdf
herbst_Re1Fe3_j_appl_phys_53_1982_4304.pdf
herbst_DyFe_j_appl_phys_55_1984_3023.pdf
DyFe_phase_diag.pdf
bimetallic FOM calculator.xlsx
dy6fe23_MvT_Claude.py
dy6fe23_MvT.mm
dy6fe23_MvT.nb
Constants.py
.DS_Store
